<h4 class="page_title">Account Management</h4>

<div class="card">
    <p-tabView>
        <p-tabPanel header="General">
            <form [formGroup]="companyForm" (ngSubmit)="onUpdatedCompanySubmit()">
                <div class="grid p-fluid">
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" class="form-control" id="company_name" formControlName="company_name" pInputText [(ngModel)]="inputCompanyName" class="{{isCompanyFormFieldValid('company_name') ? 'ng-invalid ng-dirty' : ''}}">
                            <label for="company_name">Company Name</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" class="form-control" id="company_id" formControlName="company_id" pInputText [(ngModel)]="inputCompanyId" class="{{isCompanyFormFieldValid('company_id') ? 'ng-invalid ng-dirty' : ''}}">
                            <label for="company_id">Company ID</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" class="form-control" id="first_name" formControlName="first_name" pInputText [(ngModel)]="inputFirstName" class="{{isCompanyFormFieldValid('first_name') ? 'ng-invalid ng-dirty' : ''}}">
                            <label for="first_name">First Name</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" class="form-control" id="last_name" formControlName="last_name" pInputText [(ngModel)]="inputLastName" class="{{isCompanyFormFieldValid('last_name') ? 'ng-invalid ng-dirty' : ''}}">
                            <label for="last_name">Last Name</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" class="form-control" id="email" formControlName="email" pInputText [(ngModel)]="inputEmail" class="{{isCompanyFormFieldValid('email') ? 'ng-invalid ng-dirty' : ''}}">
                            <label for="email">Email</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <p-dropdown [options]="statusOptions" formControlName="status" id="status" optionLabel="name" optionValue="value" scrollHeight="200px"></p-dropdown>
                            <label>Status</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <p-dropdown [options]="timezones" id="timezone" formControlName="timezone" [(ngModel)]="input_timezone" optionLabel="name" optionValue="value" scrollHeight="200px"></p-dropdown>
                            <label for="timezone">Time Zone</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="field p-float-label">
                            <p-dropdown [options]="timeformats" formControlName="time_format" [(ngModel)]="inputTimeFormat" optionLabel="name" optionValue="value" scrollHeight="200px"></p-dropdown>
                            <label>Time Format</label>
                        </span>
                    </div>
                </div>

                <div class="flex justify-content-end">
                    <button pButton pRipple type="submit" label="Save" icon="pi pi-save" class="p-button-text"></button>
                </div>
            </form>
        </p-tabPanel>

        <p-tabPanel header="Additional">
            <form [formGroup]="additionalForm" (ngSubmit)="onUpdatedAdditionalSubmit()">
                <div class="grid p-fluid">
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" id="address" formControlName="address" pInputText [(ngModel)]="inputAddress">
                            <label for="address">Address</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" id="city" formControlName="city" pInputText [(ngModel)]="inputCity">
                            <label for="city">City</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" id="state" formControlName="state" pInputText [(ngModel)]="inputState">
                            <label for="state">State</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" id="country" formControlName="country" pInputText [(ngModel)]="inputCountry">
                            <label for="country">Country</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" id="zip" formControlName="zip" pInputText [(ngModel)]="inputZip">
                            <label for="zip">Zip</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" id="phone" formControlName="phone" pInputText [(ngModel)]="inputPhone">
                            <label for="phone">Phone</label>
                        </span>
                    </div>
                    <div class="md:col-6 col-12">
                        <span class="p-float-label">
                            <input type="text" id="ssn" formControlName="ssn" pInputText [(ngModel)]="inputSSN">
                            <label for="ssn">EIN / SSN Number</label>
                        </span>
                    </div>
                </div>
                <div class="flex justify-content-end">
                    <button pButton pRipple type="submit" label="Save" icon="pi pi-save" class="p-button-text"></button>
                </div>
            </form>
        </p-tabPanel>

        <p-tabPanel header="Credentials">
            <form [formGroup]="credentialForm" (ngSubmit)="onUpdatedCredentialSubmit()">
                <div class="grid p-fluid">
                    <div class="col-12">
                        <span class="p-float-label">
                            <p-password id="old_password" formControlName="old_password" [ngClass]="isCredentialFormFieldValid('old_password') ? 'ng-invalid ng-dirty' : ''" [(ngModel)]="input_old_password" [feedback]="false"></p-password>
                            <label for="old_password">Old Password</label>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="p-float-label">
                            <p-password id="new_password" formControlName="new_password" [ngClass]="isCredentialFormFieldValid('new_password') ? 'ng-invalid ng-dirty' : ''" [(ngModel)]="input_new_password" [feedback]="false"></p-password>
                            <label for="new_password">New Password</label>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="p-float-label">
                            <p-password id="confirm_password" formControlName="confirm_password" [ngClass]="isCredentialFormFieldValid('confirm_password') ? 'ng-invalid ng-dirty' : ''" [(ngModel)]="input_confirm_password" [feedback]="false"></p-password>
                            <label for="confirm_password">Confirm Password</label>
                        </span>
                    </div>
                </div>
                <div class="flex justify-content-end">
                    <button pButton pRipple type="submit" label="Save" icon="pi pi-save" class="p-button-text"></button>
                </div>
            </form>
        </p-tabPanel>        
    </p-tabView>
</div>
