<h4 class="page_title">Lerg Management</h4>
<div class="card">
    <div class="grid">
      <div class="col-12 md:col-5">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Keyword..." [(ngModel)]="filterValue" [disabled]="isLoading" (keyup.enter)="onClickFilter()">
          <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="isLoading ? '' : onClickFilter()" [style]="isLoading ? {opacity: 0.5} : ''"></button>
        </div>
      </div>

      <div class="col-12 md:col-7 text-right">
        <span class="p-buttonset">
          <button pButton pRipple label="Add New" (click)="openModal('Add')" icon="pi pi-plus"></button>
          <button pButton pRipple label="Upload" (click)="flag_openUploadDialog=true" icon="pi pi-upload" class="p-button-help"></button>            
        </span>
      </div>
    </div>
</div>

<div class="card">
  <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength>0&&filterResultLength>0&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
  <p-table [value]="npanxx" responsiveLayout="stack" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-align-center" [ngClass]="sortActive === 'npanxx' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('npanxx')">NPANXX</a>
        </th>
        <th class="text-align-center">NPA</th>
        <th class="text-align-center">NXX</th>
        <th class="text-align-center" [ngClass]="sortActive === 'thousand' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('thousand')">X</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'lata' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('lata')">LATA</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'rate_center' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('rate_center')">Rate Center</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'ocn' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('ocn')">OCN</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'ocn_name' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
            <a (click)="onSortChange('ocn_name')">OCN NAME</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'state' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('state')">STATE</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'category' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('category')">CATEGORY</a>
        </th>
        <th class="text-align-center">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-npanxx_item>
      <tr>
        <td class="text-align-center">
          <span class="p-column-title">NPANXX</span>
          {{ npanxx_item.npanxx}}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">NPA</span>
          {{ npanxx_item.npa }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">NXX</span>
          {{ npanxx_item.nxx }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">X</span>
          {{ npanxx_item.thousand}}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">LATA</span>
          {{ npanxx_item.lata }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Rate Center</span>
          {{ npanxx_item.rate_center }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">OCN</span>
          {{ npanxx_item.ocn }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">OCN NAME</span>
          {{ npanxx_item.ocn_name }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">STATE</span>
          {{ npanxx_item.state }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">CATEGORY</span>
          {{ npanxx_item.category }}
        </td>
        <td class="text-align-center">
          <span class="p-buttonset">
            <button pButton type="button" title="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-warning" (click)="onOpenEditModal($event, npanxx_item.id)"></button>
            <button pButton type="button" title="Delete" icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-danger" (click)="delete($event, npanxx_item.id)"></button>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
</div>

<p-dialog [header]="modalTitle + ' '" styleClass="c-modal" [(visible)]="flag_openDialog" (onHide)="closeModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '90vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="pt-2">
        <form [formGroup]="npanxxForm" (ngSubmit)="onSubmit()">
          <div class="grid p-fluid">
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" minlength="6" maxlength="6" class="form-control" id="npanxx" formControlName="npanxx" pInputText [(ngModel)]="inputNpanxx" class="{{isNpanxxFormFieldValid('npanxx') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="npanxx">NPANXX</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="thousand" formControlName="thousand" pInputText [(ngModel)]="inputThousand" class="{{isNpanxxFormFieldValid('thousand') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="thousand">Thousand</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" minlength="3" maxlength="4" class="form-control" id="lata" formControlName="lata" pInputText [(ngModel)]="inputLata" class="{{isNpanxxFormFieldValid('lata') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="lata">LATA</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="lata_name" formControlName="lata_name" pInputText [(ngModel)]="inputLataName" class="{{isNpanxxFormFieldValid('lata_name') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="lata_name">LATA Name</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" minlength="4" maxlength="5" class="form-control" id="ocn" formControlName="ocn" pInputText [(ngModel)]="inputOcn" class="{{isNpanxxFormFieldValid('ocn') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="ocn">OCN</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="ocn_name" formControlName="ocn_name" pInputText [(ngModel)]="inputOcn_name" class="{{isNpanxxFormFieldValid('ocn_name') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="ocn_name">OCN_NAME</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="rate_center" formControlName="rate_center" pInputText [(ngModel)]="inputRateCenter" class="{{isNpanxxFormFieldValid('rate_center') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="rate_center">Rate Center</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="country" formControlName="country" pInputText [(ngModel)]="inputCountry" class="{{isNpanxxFormFieldValid('country') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="country">Country</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="state" formControlName="state" pInputText [(ngModel)]="inputState" class="{{isNpanxxFormFieldValid('state') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="state">STATE</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="abbre" formControlName="abbre" pInputText [(ngModel)]="inputAbbre" class="{{isNpanxxFormFieldValid('abbre') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="abbre">ABBRE</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="company" formControlName="company" pInputText [(ngModel)]="inputCompany" class="{{isNpanxxFormFieldValid('company') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="company">Company</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="category" formControlName="category" pInputText [(ngModel)]="inputCategory" class="{{isNpanxxFormFieldValid('category') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="category">CATEGORY</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="clli" formControlName="clli" pInputText [(ngModel)]="inputClli" class="{{isNpanxxFormFieldValid('clli') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="clli">Clli</label>
              </span>
            </div>   
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="ilec" formControlName="ilec" pInputText [(ngModel)]="inputIlec" class="{{isNpanxxFormFieldValid('ilec') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="ilec">Ilec</label>
              </span>
            </div>   
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="switch_name" formControlName="switch_name" pInputText [(ngModel)]="inputSwitchName" class="{{isNpanxxFormFieldValid('switch_name') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="switch_name">Switch Name</label>
              </span>
            </div>                        
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="switch_type" formControlName="switch_type" pInputText [(ngModel)]="inputSwitchType" class="{{isNpanxxFormFieldValid('switch_type') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="switch_type">Switch Type</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="number" class="form-control" id="rate" formControlName="rate" pInputText [(ngModel)]="inputRate" class="{{isNpanxxFormFieldValid('rate') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="rate">Rate</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="prefix_type" formControlName="prefix_type" pInputText [(ngModel)]="inputPrefixType" class="{{isNpanxxFormFieldValid('prefix_type') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="prefix_type">Prefix Type</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="assign_date" formControlName="assign_date" pInputText [(ngModel)]="inputAssignDate" class="{{isNpanxxFormFieldValid('assign_date') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="assign_date">Assign Date</label>
              </span>
            </div>
            <div class="md:col-12 col-12">
              <span class="p-float-label">
                <textarea class="pt-4" class="form-control {{isNpanxxFormFieldValid('note') ? 'ng-invalid ng-dirty' : ''}}" id="note" formControlName="note" [(ngModel)]="inputNote" rows="5" cols="30" pInputTextarea></textarea>
                <label for="notes">Note</label>
              </span>
            </div>
          </div>

          <div class="flex justify-content-end">
            <button type="submit" pButton pRipple label="Save" icon="pi pi-save" class="p-button-text"></button>
          </div>
        </form>
    </div>
</p-dialog>

<p-dialog header="Upload" styleClass="c-modal" [(visible)]="flag_openUploadDialog" (onHide)="flag_openUploadDialog=false" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '70vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="grid pt-2">
        <div class="p-fluid lg:col-8 col-12">
            <span class="field p-float-label">
                <p-dropdown [options]="uploadActionOptions" id="uploadMethod" [(ngModel)]="uploadMethod" optionLabel="name" optionValue="value" scrollHeight="150px"></p-dropdown>
                <label>Action</label>
            </span>
        </div>
        <div class="lg:col-4 col-12 text-right">
            <button pButton pRipple label="Choose File" (click)="fileInput.click()" [disabled]="isUpLoading" icon="pi pi-upload" class="p-button-text"></button>
            <input #fileInput type="file" (click)="onClickUpload($event)" (change)="changeListener($event)" style="display: none" accept=".csv"/>
        </div>
    </div>

    <strong>*The csv file format must be the same as the following table format.</strong>
    <div class="card mt-5">
        <p-table [value]="demoNPANXX" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:100px" class="text-center justify-content-center">NPANXX</th>
                    <th style="min-width:50px" class="text-center justify-content-center">LATA</th>
                    <th style="min-width:50px" class="text-center justify-content-center">OCN</th>
                    <th style="min-width:200px" class="text-center justify-content-center">OCN_Name</th>
                    <th style="min-width:100px" class="text-center justify-content-center">RC ABBRE</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Loc STATE</th>
                    <th style="min-width:100px" class="text-center justify-content-center">CATEGORY</th>
                    <th style="min-width:100px" class="text-center justify-content-center">RATE</th>
                    <th style="min-width:100px" class="text-center justify-content-center">NOTE</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-upload>
                <tr>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.npanxx}}</td>
                    <td style="min-width:50px" class="text-center justify-content-center">{{upload.lata}}</td>
                    <td style="min-width:50px" class="text-center justify-content-center">{{upload.ocn}}</td>
                    <td style="min-width:200px" class="text-center justify-content-center">{{upload.ocn_name}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.rc_abbre}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.loc_state}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.category}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.rate}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.note}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>