:host ::ng-deep .date_range.p-calendar {
  .date_range_panel.p-datepicker {
    width: 62rem;
    display: flex;
    .calendar-header {
      flex: 3;
    }

    .p-datepicker-group-container {
      flex: 9;
      .p-disabled, .p-component:disabled {
        opacity: 1;
      }
      .p-datepicker-other-month {
        .p-disabled, .p-component:disabled {
          opacity: 0.38;
        }
      }
    }
  }
}
