<h4 class="page_title">Short Cuts</h4>

<div class="grid">
    <div class="md:col-6 col-12">
        <p-panel header="Network Status" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
            <ng-template pTemplate="icons">
                
            </ng-template>
            <div class="pt-2 pb-4 flex justify-content-center">
                <div>
                    <p class="text-center">No servers configured.</p>
                    <button pButton pRipple label="Add Your First Now" class="p-button-rounded p-button-help"></button>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="md:col-6 col-12">
        <p-panel header="To-Do List" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
            <ng-template pTemplate="icons">
                
            </ng-template>
            <div class="pt-2 pb-4 flex justify-content-center">
                <div>
                    <p class="text-center">No Incomplete To-Do Items.</p>
                    <button pButton pRipple label="Add a To-Do Item" class="p-button-rounded p-button-help"></button>
                </div>
            </div>
        </p-panel>
    </div>
</div>