<h4 class="page_title">Account Management</h4>

<div class="card">
  <p-tabView [(activeIndex)]="accountTabIndex">
      <p-tabPanel header="Main Information">
          <div class="p-fluid pt-2">
            <div class="field">
              <span class="p-float-label">
                <input type="text" id="username" name="username" [ngClass]="{'ng-dirty': !validUsername, 'ng-invalid': !validUsername}" (input)="validUsername=input_username!=''" pInputText [(ngModel)]="input_username">
                <label for="username">Username</label>
              </span>
            </div>
            <span class="field p-float-label">
              <p-dropdown [options]="customers" id="customer_id" name="customer_id" [(ngModel)]="input_customer_id" optionLabel="name" scrollHeight="150px" styleClass="w-100"></p-dropdown>
              <label for="customer_id">Customer</label>
            </span>
            <span class="field p-float-label">
              <p-dropdown [options]="roles" id="role_id" name="role_id" [(ngModel)]="input_role_id" optionLabel="name" scrollHeight="150px" styleClass="w-100"></p-dropdown>
              <label for="role_id">Role</label>
            </span>
            <span class="field p-float-label">
              <p-dropdown [options]="timezones" id="timezone" name="timezone" [(ngModel)]="input_timezone" optionLabel="name" optionValue="value" scrollHeight="150px" styleClass="w-100"></p-dropdown>
              <label for="timezone">Time Zone</label>
            </span>
            <span class="field p-float-label">
              <p-dropdown [options]="timeformats" [(ngModel)]="inputTimeFormat" optionLabel="name" optionValue="value" scrollHeight="150px" styleClass="w-100"></p-dropdown>
              <label>Time Format</label>
            </span>
            <div class="field">
              <span class="p-float-label">
                <input type="text" id="email" name="email" [ngClass]="{'ng-dirty': !validEmail, 'ng-invalid': !validEmail}" (input)="onInputEmail()" pInputText [(ngModel)]="input_email">
                <label for="email">Email</label>
              </span>
            </div>
            <div class="field">
              <span class="p-float-label">
                <input type="text" id="first_name" name="first_name" [ngClass]="{'ng-dirty': !validFirstName, 'ng-invalid': !validFirstName}" (input)="validFirstName=input_first_name!=''" pInputText [(ngModel)]="input_first_name">
                <label for="first_name">First Name</label>
              </span>
            </div>
            <div class="field">
              <span class="p-float-label">
                <input type="text" id="last_name" name="last_name" [ngClass]="{'ng-dirty': !validLastName, 'ng-invalid': !validLastName}" (input)="validLastName=input_last_name!=''" pInputText [(ngModel)]="input_last_name">
                <label for="last_name">Last Name</label>
              </span>
            </div>
          </div>

          <span class="p-buttonset flex justify-content-end">
            <button pButton pRipple (click)="mainReset()" label="Reset" icon="pi pi-undo" class="p-button-text p-button-danger"></button>
            <button pButton pRipple (click)="onMainUpdate()" label="Save" icon="pi pi-save" class="p-button-text"></button>
          </span>
      </p-tabPanel>
      <p-tabPanel header="Additional Information">
          <div class="p-fluid pt-2">
            <span class="field p-float-label">
                <input type="text" id="country" name="country" pInputText [(ngModel)]="input_country">
                <label for="country">Country</label>
            </span>
            <span class="field p-float-label">
                <input type="text" id="address" name="address" pInputText [(ngModel)]="input_address">
                <label for="address">Address</label>
            </span>
            <span class="field p-float-label">
                <input type="text" id="province" name="province" pInputText [(ngModel)]="input_province">
                <label for="province">Province</label>
            </span>
            <span class="field p-float-label">
                <input type="text" id="city" name="city" pInputText [(ngModel)]="input_city">
                <label for="city">City</label>
            </span>
            <span class="field p-float-label">
                <input type="text" id="zip_code" name="zip_code" pInputText [(ngModel)]="input_zip_code">
                <label for="zip_code">Zip Code</label>
            </span>
            <span class="field p-float-label">
                <input type="number" id="tel1" name="tel1" pInputText [(ngModel)]="input_tel1">
                <label for="tel1">Tel-1</label>
            </span>
            <span class="field p-float-label">
                <input type="number" id="tel2" name="tel2" pInputText [(ngModel)]="input_tel2">
                <label for="tel2">Tel-2</label>
            </span>
            <span class="field p-float-label">
                <input type="number" id="mobile" name="mobile" pInputText [(ngModel)]="input_mobile">
                <label for="mobile">Mobile</label>
            </span>
            <span class="field p-float-label">
                <input type="number" id="fax" name="fax" pInputText [(ngModel)]="input_fax">
                <label for="fax">Fax</label>
            </span>
          </div>

          <span class="field p-buttonset flex justify-content-end">
            <button pButton pRipple (click)="AdditionalReset()" label="Reset" icon="pi pi-undo" class="p-button-text p-button-danger"></button>
            <button pButton pRipple (click)="onAdditionalUpdate()" label="Save" icon="pi pi-save" class="p-button-text"></button>
          </span>
      </p-tabPanel>
      <p-tabPanel header="Change Password">
        <div class="p-fluid pt-2">
          <div class="field">
            <span class="p-float-label">
              <p-password id="old_password" name="old_password" [ngClass]="{'ng-dirty': !validOldPassword, 'ng-invalid': !validOldPassword}" (input)="validOldPassword=input_old_password!=''" [(ngModel)]="input_old_password" [toggleMask]="true" [feedback]="false"></p-password>
              <label for="old_password">Old Password</label>
            </span>
          </div>
          <div class="field">
            <span class="p-float-label">
              <p-password id="password" name="password" [ngClass]="{'ng-dirty': !validPassword, 'ng-invalid': !validPassword}" (input)="validPassword=input_password!=''" [(ngModel)]="input_password" [toggleMask]="true" [feedback]="false"></p-password>
              <label for="password">New Password</label>
            </span>
          </div>
          <span class="field p-float-label">
            <p-password id="confirm_password" name="confirm_password" [(ngModel)]="input_confirm_password" [toggleMask]="true" [feedback]="false"></p-password>
            <label for="confirm_password">Confirm Password</label>
          </span>
        </div>

        <span class="p-buttonset flex justify-content-end">
          <button pButton pRipple (click)="passwordReset()" label="Reset" icon="pi pi-undo" class="p-button-text p-button-danger"></button>
          <button pButton pRipple (click)="onPasswordUpdate()" label="Save" icon="pi pi-save" class="p-button-text"></button>
        </span>
    </p-tabPanel>
  </p-tabView>
</div>