<p-overlayPanel #op>
    <div class="flex justify-content-center align-items-center gap-4 mb-5">
        <p-inputNumber 
            [min]="0" 
            inputId="startCallCount"
            [(ngModel)]="startCallCount" 
            [showButtons]="true" 
            buttonLayout="horizontal" 
            spinnerMode="horizontal" 
            [step]="1"
            decrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-outlined" 
            incrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-outlined" 
            incrementButtonIcon="pi pi-plus" 
            decrementButtonIcon="pi pi-minus" 
            styleClass="c-input-number"
        ></p-inputNumber>
        <ng-container *ngIf="operator=='between'">
            <p>~</p>
            <p-inputNumber 
                [min]="0" 
                inputId="endCallCount"
                [(ngModel)]="endCallCount" 
                [showButtons]="true" 
                buttonLayout="horizontal" 
                spinnerMode="horizontal" 
                [step]="1"
                decrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-outlined" 
                incrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-outlined" 
                incrementButtonIcon="pi pi-plus" 
                decrementButtonIcon="pi pi-minus" 
                styleClass="c-input-number"

            ></p-inputNumber>
        </ng-container>
    </div>
    
    <span class="p-buttonset">
        <button pButton pRipple type="button" (click)="operator='>=';" label=">=" class="{{operator!='>=' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='<=';" label="<=" class="{{operator!='<=' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='>';" label=">" class="{{operator!='>' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='<';" label="<" class="{{operator!='<' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='=';" label="=" class="{{operator!='=' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='between';" label="Between" class="{{operator!='between' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
    </span>

    <button pButton pRipple type="button" (click)="onClickApply();" label="Apply" class="p-button-sm p-button-raised p-button-success ml-4"></button>
    <button pButton pRipple type="button" (click)="onClear();" label="Clear" class="p-button-sm p-button-raised p-button-danger ml-2"></button>
</p-overlayPanel>

<span class="p-input-icon-right p-float-label">
    <i class="pi pi-sort"></i>
    <input type="text" id="call_count_range" readonly="true" pInputText [(ngModel)]="inputCallCountRange" (click)="op.toggle($event)" />
    <label for="call_count_range">Call Count Range</label>
</span>