<h4 class="page_title">TFN Number Management</h4>
<div class="card">
    <div class="grid">
        <div class="col-12 md:col-8">
            <div class="grid">
                <div class="col-12 md:col-4 p-fluid pl-0 pr-0">
                    <span class="p-float-label">
                        <p-dropdown 
                            [options]="filterCustomerOptions" 
                            [(ngModel)]="customerFilterValue" 
                            optionLabel="name" 
                            optionValue="value" 
                            scrollHeight="150px"
                        ></p-dropdown>
                        <label>Customer</label>
                    </span>
                </div>
        
                <div class="col-12 md:col-5 pl-0 pr-0">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Keyword..." [(ngModel)]="filterValue" [disabled]="isLoading" (keyup.enter)="onClickFilter()">
                        <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="isLoading ? '' : onClickFilter()" [style]="isLoading ? {opacity: 0.5} : ''"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-4 text-right">
            <span class="p-buttonset">
                <button pButton pRipple label="Add New" (click)="openModal('Add')" icon="pi pi-plus"></button>
                <button pButton pRipple label="Upload" (click)="flag_openUploadDialog=true" icon="pi pi-upload" class="p-button-help"></button>            
            </span>
        </div>
    </div>
</div>

<div class="card">
  <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength>0&&filterResultLength>0&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
  <p-table [value]="tfnNumbers" responsiveLayout="stack" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-align-center" [ngClass]="sortActive === 'tfn_num' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('tfn_num')">Tollfree Number</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'customer_id' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('customer_id')">Customer</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'trans_num' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('trans_num')">Translate Number</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'resp_org' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('resp_org')">RO</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'price' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('price')">Price</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'created_at' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('created_at')">Created At</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'updated_at' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
            <a (click)="onSortChange('updated_at')">Updated At</a>
        </th>
        <th class="text-align-center">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-npanxx_item>
      <tr>
        <td class="text-align-center">
          <span class="p-column-title">Tollfree Number</span>
          {{ npanxx_item.tfn_num }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Customer</span>
          {{ npanxx_item.customer_id}}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Translate Number</span>
          {{ npanxx_item.trans_num }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">RO</span>
          {{ npanxx_item.resp_org }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Price</span>
          {{ npanxx_item.price}}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Created At</span>
          {{ npanxx_item.created_at }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Updated At</span>
          {{ npanxx_item.updated_at }}
        </td>
        <td class="text-align-center">
          <span class="p-buttonset">
            <button pButton type="button" title="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-warning" (click)="onOpenEditModal($event, npanxx_item.id)"></button>
            <button pButton type="button" title="Delete" icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-danger" (click)="delete($event, npanxx_item.id)"></button>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
</div>

<p-dialog [header]="modalTitle + ' '" styleClass="c-modal" [(visible)]="flag_openDialog" (onHide)="closeModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '90vw'}" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="pt-2">
      <form [formGroup]="tfnNumberForm" (ngSubmit)="onSubmit()">
        <div class="grid p-fluid">
          <div class="md:col-6 col-12">
            <span class="p-float-label">
              <!-- <input type="text" class="form-control" id="tfn_num" formControlName="tfn_num" pInputText [(ngModel)]="inputTollfreeNumber" class="{{isTfnNumberFormFieldValid('tfn_num') ? 'ng-invalid ng-dirty' : ''}}"> -->
              <p-inputMask class="form-control" id="tfn_num" formControlName="tfn_num" mask="999-999-9999" [(ngModel)]="inputTollfreeNumber" class="{{isTfnNumberFormFieldValid('tfn_num') ? 'ng-invalid ng-dirty' : ''}}"></p-inputMask>
              <label for="tfn_num">Tollfree Number</label>
            </span>
          </div>
          <div class="md:col-6 col-12">
            <span class="p-float-label">
              <p-dropdown 
                  class="{{isTfnNumberFormFieldValid('customer_id') ? 'ng-invalid ng-dirty form-control' : 'form-control'}}"
                  id="customer_id" 
                  formControlName="customer_id"
                  [options]="customerOptions" 
                  [(ngModel)]="selectCustomer" 
                  optionLabel="name" 
                  optionValue="value" 
                  scrollHeight="150px"
              ></p-dropdown>
              <label>Customer</label>
            </span>
          </div>
          <div class="md:col-6 col-12">
            <span class="p-float-label">
              <input type="text" class="form-control" id="price" formControlName="price" pInputText [(ngModel)]="inputPrice" class="{{isTfnNumberFormFieldValid('price') ? 'ng-invalid ng-dirty' : ''}}">
              <label for="price">Price</label>
            </span>
          </div>
          <div class="md:col-6 col-12">
            <span class="p-float-label">
              <input type="text" class="form-control" id="trans_num" formControlName="trans_num" pInputText [(ngModel)]="inputTranslateNumber" class="{{isTfnNumberFormFieldValid('trans_num') ? 'ng-invalid ng-dirty' : ''}}">
              <label for="trans_num">Translate Number</label>
            </span>
          </div>
          <div class="md:col-6 col-12">
            <span class="p-float-label">
              <input type="text" class="form-control" id="resp_org" formControlName="resp_org" pInputText [(ngModel)]="inputRo" class="{{isTfnNumberFormFieldValid('resp_org') ? 'ng-invalid ng-dirty' : ''}}">
              <label for="resp_org">RO</label>
            </span>
          </div>
        </div>

        <div class="flex justify-content-end">
          <button type="submit" pButton pRipple label="Save" icon="pi pi-save" class="p-button-text"></button>
        </div>
      </form>
  </div>
</p-dialog>

<p-dialog header="Upload" styleClass="c-modal" [(visible)]="flag_openUploadDialog" (onHide)="flag_openUploadDialog=false" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '70vw'}" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="grid pt-2">
    <div class="p-fluid lg:col-8 col-12">
      <span class="field p-float-label">
        <p-dropdown [options]="uploadActionOptions" id="uploadMethod" [(ngModel)]="uploadMethod" optionLabel="name" optionValue="value" scrollHeight="150px"></p-dropdown>
        <label>Action</label>
      </span>
    </div>
    <div class="lg:col-4 col-12 text-right">
      <button pButton pRipple label="Choose File" (click)="fileInput.click()" [disabled]="isUpLoading" icon="pi pi-upload" class="p-button-text"></button>
      <input #fileInput type="file" (click)="onClickUpload($event)" (change)="changeListener($event)" style="display: none" accept=".csv"/>
    </div>
  </div>

  <strong>*The csv file format must be the same as the following table format.</strong>
  <div class="card mt-5">
    <p-table [value]="demoTfnNumbers" [scrollable]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:100px" class="text-center justify-content-center">Tollfree Number</th>
          <th style="min-width:100px" class="text-center justify-content-center">Customer</th>
          <th style="min-width:100px" class="text-center justify-content-center">Price</th>
          <th style="min-width:100px" class="text-center justify-content-center">RO</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-upload>
        <tr>
          <td style="min-width:100px" class="text-center justify-content-center">{{upload.tfn_num}}</td>
          <td style="min-width:100px" class="text-center justify-content-center">{{upload.customer_id}}</td>
          <td style="min-width:100px" class="text-center justify-content-center">{{upload.price}}</td>
          <td style="min-width:100px" class="text-center justify-content-center">{{upload.resp_org}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
