<h4 class="page_title">CDRs Import</h4>
<div class="card">
    <div class="grid">
      <div class="col-12 md:col-5">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Keyword..." [(ngModel)]="filterValue" [disabled]="isLoading" (keyup.enter)="onClickFilter()">
          <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="isLoading ? '' : onClickFilter()" [style]="isLoading ? {opacity: 0.5} : ''"></button>
        </div>
      </div>

      <div class="col-12 md:col-7 text-right">
        <span class="p-buttonset">
          <button pButton pRipple label="Add New" (click)="openModal('Add')" icon="pi pi-plus"></button>
          <button pButton pRipple label="Upload" (click)="flag_openUploadDialog=true" icon="pi pi-upload" class="p-button-help"></button>            
        </span>
      </div>
    </div>
</div>

<div class="card">
  <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength>0&&filterResultLength>0&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
  <p-table [value]="import_cdrs" responsiveLayout="stack" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-align-center" [ngClass]="sortActive === 'called' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('called')">Called</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'calling' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('calling')">Calling</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'starttime' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('starttime')">Start Time</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'endtime' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('endtime')">End Time</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'rgout' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('rgout')">Rg Out</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'rgin' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('rgin')">Rg In</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'duration' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('duration')">Duration</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'successful' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
            <a (click)="onSortChange('successful')">Successful</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'server' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('server')">Server</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'reason' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('reason')">Reason</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'server_ip' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
            <a (click)="onSortChange('server_ip')">Server IP</a>
        </th>
        <th class="text-align-center">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-importCDR_item>
      <tr>
        <td class="text-align-center">
          <span class="p-column-title">Called</span>
          {{ importCDR_item.called}}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Calling</span>
          {{ importCDR_item.calling }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Start Time</span>
          {{ importCDR_item.starttime }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">End Time</span>
          {{ importCDR_item.endtime}}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Rg Out</span>
          {{ importCDR_item.rgout }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Rg In</span>
          {{ importCDR_item.rgin }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Duration</span>
          {{ importCDR_item.duration }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Successful</span>
          {{ importCDR_item.successful }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Server</span>
          {{ importCDR_item.server }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Reason</span>
          {{ importCDR_item.reason }}
        </td>
        <td class="text-align-center">
            <span class="p-column-title">Server IP</span>
            {{ importCDR_item.server_ip }}
        </td>
        <td class="text-align-center">
          <span class="p-buttonset">
            <button pButton type="button" title="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-warning" (click)="onOpenEditModal($event, importCDR_item.id)"></button>
            <button pButton type="button" title="Delete" icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-danger" (click)="delete($event, importCDR_item.id)"></button>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
</div>

<p-dialog [header]="modalTitle + ' '" styleClass="c-modal" [(visible)]="flag_openDialog" (onHide)="closeModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '90vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="pt-2">
        <form [formGroup]="cdrsImportForm" (ngSubmit)="onSubmit()">
          <div class="grid p-fluid">
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="called" formControlName="called" pInputText [(ngModel)]="inputCalled" class="{{isImportCDRsFormFieldValid('called') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="called">Called</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="calling" formControlName="calling" pInputText [(ngModel)]="inputCalling" class="{{isImportCDRsFormFieldValid('calling') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="calling">Calling</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="starttime" formControlName="starttime" pInputText [(ngModel)]="inputStartTime" class="{{isImportCDRsFormFieldValid('starttime') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="starttime">Start Time</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="endtime" formControlName="endtime" pInputText [(ngModel)]="inputEndTime" class="{{isImportCDRsFormFieldValid('endtime') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="endtime">End Time</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="rgout" formControlName="rgout" pInputText [(ngModel)]="inputRgOut" class="{{isImportCDRsFormFieldValid('rgout') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="rgout">Rg Out</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="rgin" formControlName="rgin" pInputText [(ngModel)]="inputRgIn" class="{{isImportCDRsFormFieldValid('rgin') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="rgin">Rg In</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="duration" formControlName="duration" pInputText [(ngModel)]="inputDuration" class="{{isImportCDRsFormFieldValid('duration') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="duration">Duration</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="successful" formControlName="successful" pInputText [(ngModel)]="inputSuccessful" class="{{isImportCDRsFormFieldValid('successful') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="successful">Successful</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="server" formControlName="server" pInputText [(ngModel)]="inputServer" class="{{isImportCDRsFormFieldValid('server') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="server">Server</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="reason" formControlName="reason" pInputText [(ngModel)]="inputReason" class="{{isImportCDRsFormFieldValid('reason') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="reason">Reason</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" class="form-control" id="server_ip" formControlName="server_ip" pInputText [(ngModel)]="inputServerIp" class="{{isImportCDRsFormFieldValid('server_ip') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="server_ip">Server IP</label>
              </span>
            </div>
          </div>

          <div class="flex justify-content-end">
            <button type="submit" pButton pRipple label="Save" icon="pi pi-save" class="p-button-text"></button>
          </div>
        </form>
    </div>
</p-dialog>

<p-dialog header="Upload" styleClass="c-modal" [(visible)]="flag_openUploadDialog" (onHide)="flag_openUploadDialog=false" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '70vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="grid pt-2">
        <div class="p-fluid lg:col-8 col-12">
            <span class="field p-float-label">
                <p-dropdown [options]="uploadActionOptions" id="uploadMethod" [(ngModel)]="uploadMethod" optionLabel="name" optionValue="value" scrollHeight="150px"></p-dropdown>
                <label>Action</label>
            </span>
        </div>
        <div class="lg:col-4 col-12 text-right">
            <button pButton pRipple label="Choose File" (click)="fileInput.click()" icon="pi pi-upload" class="p-button-text"></button>
            <input #fileInput type="file" (click)="onClickUpload($event)" (change)="changeListener($event)" style="display: none" accept=".csv"/>
        </div>
    </div>

    <strong>*The csv file format must be the same as the following table format.</strong>
    <div class="card mt-5">
        <p-table [value]="demoImportCDRs" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:100px" class="text-center justify-content-center">Called</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Calling</th>
                    <th style="min-width:200px" class="text-center justify-content-center">Start Time</th>
                    <th style="min-width:200px" class="text-center justify-content-center">End Time</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Rg Out</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Rg In</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Duration</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Successful</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Server</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Reason</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Server IP</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-upload>
                <tr>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.called}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.calling}}</td>
                    <td style="min-width:200px" class="text-center justify-content-center">{{upload.starttime}}</td>
                    <td style="min-width:200px" class="text-center justify-content-center">{{upload.endtime}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.rgout}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.rgin}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.duration}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.successful}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.server}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.reason}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.server_ip}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>