<h4 class="page_title">CDR Server Management</h4>
<p-panel header="Configuration" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
  <ng-template pTemplate="content">
      <div class="p-fluid pt-2">
          <span class="field p-float-label">
            <input #elmnt_sftp_path type="text" id="sftp_path" name="sftp_path" pInputText [(ngModel)]="input_sftp_path" [disabled]="!isSftpEditing">
            <label for="sftp_path">Path</label>
          </span>
      </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
        <button *ngIf="!isSftpEditing" pButton pRipple type="button" icon="pi pi-pencil" label="Edit" class="p-button-rounded p-button-text p-button-warning" (click)="onSFTPEdit()"></button>
        <span class="p-buttonset" *ngIf="isSftpEditing">
          <button pButton pRipple (click)="onEditedSFTPSave()" label="Save" icon="pi pi-save" class="p-button-rounded p-button-text p-button-success"></button>
          <button pButton pRipple (click)="onCancelSFTPEdit()" label="Cancel" icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger"></button>
        </span>
    </div>
  </ng-template>
</p-panel>

<div class="card mt-5">
  <div class="grid">
    <div class="col-12 md:col-5">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Keyword..." [(ngModel)]="filterValue" [disabled]="isLoading" (keyup.enter)="onClickFilter()">
        <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="isLoading ? '' : onClickFilter()" [style]="isLoading ? {opacity: 0.5} : ''"></button>
      </div>
    </div>

    <div class="col-12 md:col-7 text-right">
      <span class="p-buttonset">
        <button pButton pRipple label="Add New" (click)="openModal('Add')" icon="pi pi-plus"></button>
        <!-- <button pButton pRipple label="Upload" (click)="flag_openUploadDialog=true" icon="pi pi-upload" class="p-button-help"></button>             -->
      </span>
    </div>
  </div>
</div>

<div class="card">
  <h5><span *ngIf="resultsLength!=-1">Total {{resultsLength}} Record</span><span *ngIf="resultsLength>1">s</span><i *ngIf="resultsLength>0&&filterResultLength>0&&filterResultLength<resultsLength" style="font-size: medium;">, {{filterResultLength}} Record<span *ngIf="filterResultLength>1">s</span> Filtered</i></h5>
  <p-table [value]="import_cdrs" responsiveLayout="stack" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-align-center" [ngClass]="sortActive === 'name' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('name')">Name</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'address' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('address')">Address</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'port' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('port')">Port</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'username' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('username')">UserName</a>
        </th>
        <th class="text-align-center" [ngClass]="sortActive === 'start_date' ? 'sorting_' + sortDirection.toLowerCase() :'sorting'">
          <a (click)="onSortChange('start_date')">Start Date</a>
        </th>
        <th class="text-align-center">
          <a>Active</a>
        </th>
        <th class="text-align-center">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-importCDR_item>
      <tr>
        <td class="text-align-center">
          <span class="p-column-title">Name</span>
          {{ importCDR_item.name}}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Address</span>
          {{ importCDR_item.address }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Port</span>
          {{ importCDR_item.port }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">UserName</span>
          {{ importCDR_item.username}}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Start Date</span>
          {{ importCDR_item.start_date }}
        </td>
        <td class="text-align-center">
          <span class="p-column-title">Active</span>
          <ng-container *ngIf="importCDR_item?.is_active">
            <i class="pi pi-check"></i>
          </ng-container>
          <ng-container *ngIf="!importCDR_item?.is_active">
            <i class="pi pi-times"></i>
          </ng-container>
        </td>
        <td class="text-align-center">
          <span class="p-buttonset">
            <button pButton type="button" title="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-warning" (click)="onOpenEditModal($event, importCDR_item.id)"></button>
            <button pButton type="button" title="Delete" icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-danger" (click)="delete($event, importCDR_item.id)"></button>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator [rows]="pageSize" [totalRecords]="filterResultLength" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
</div>

<p-dialog [header]="modalTitle + ' '" styleClass="c-modal" [(visible)]="flag_openDialog" (onHide)="closeModal()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '90vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="pt-2">
        <form [formGroup]="cdrsImportForm" (ngSubmit)="onSubmit()">
          <div class="grid p-fluid">
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="name" formControlName="name" pInputText [(ngModel)]="inputName" class="{{isImportCDRsFormFieldValid('name') ? 'ng-invalid ng-dirty' : ''}}" pattern="^[\w\d\s_]{1,30}$">
                <label for="name">Name</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="table_name" formControlName="table_name" pInputText [(ngModel)]="inputTableName" class="{{isImportCDRsFormFieldValid('table_name') ? 'ng-invalid ng-dirty' : ''}}" pattern="^[\w\d\s_]{1,30}$">
                <label for="table_name">Table Name</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="lnp_server" formControlName="lnp_server" pInputText [(ngModel)]="inputLnpServer" class="{{isImportCDRsFormFieldValid('lnp_server') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="lnp_server">LNP Server</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="address" formControlName="address" pInputText [(ngModel)]="inputAddress" pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" class="{{isImportCDRsFormFieldValid('address') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="address">Address</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="number" class="form-control" id="port" formControlName="port" pInputText [(ngModel)]="inputPort" class="{{isImportCDRsFormFieldValid('port') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="port">Port</label>
              </span>
            </div>
            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <p-calendar
                  class="{{isImportCDRsFormFieldValid('start_date') ? 'ng-invalid ng-dirty form-control' : 'form-control'}}"
                  id="start_date" 
                  formControlName="start_date"
                  [(ngModel)]="inputStartDate"
                  dateFormat="mm/dd/yy"
                  [showButtonBar]="true"
                ></p-calendar>
                <label for="start_date">Start Date</label>
              </span>
            </div>

            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="path" formControlName="path" pInputText [(ngModel)]="inputPath" class="{{isImportCDRsFormFieldValid('path') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="path">Path</label>
              </span>
            </div>

            <div class="md:col-6 col-12">
              <span class="p-float-label">
                <input type="text" class="form-control" id="username" formControlName="username" pInputText [(ngModel)]="inputUsername" class="{{isImportCDRsFormFieldValid('username') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="username">UserName</label>
              </span>
            </div>
            
            <div class="md:col-6 col-12 flex align-items-center justify-content-between">
              <span>
                <p-inputSwitch 
                  formControlName="is_lrn" 
                  [(ngModel)]="inputIsLrn" 
                ></p-inputSwitch>
                <label class="ml-3">LRN</label>
              </span>
              <span>
                <p-inputSwitch 
                  formControlName="is_rate" 
                  [(ngModel)]="inputIsRate" 
                  label="Rate" 
                ></p-inputSwitch>
                <label class="ml-3">Rate</label>
              </span>
              <span>
                <p-inputSwitch 
                  formControlName="is_active" 
                  [(ngModel)]="inputIsActive" 
                  label="Active" 
                ></p-inputSwitch>
                <label class="ml-3">Active</label>
              </span>
            </div>

            <div class="md:col-6 col-12 mt-3">
              <span>
                <p-inputSwitch 
                  [(ngModel)]="inputIsPassword" 
                  formControlName="switchCredential"
                  (onChange)="inputPublicKey='';inputPassword=''"
                ></p-inputSwitch>
                <label class="ml-3">Password or Public Key</label>
              </span>

              <span *ngIf="inputIsPassword" class="p-float-label mt-3">
                <input type="password" class="form-control" id="password" formControlName="password" pInputText [(ngModel)]="inputPassword" class="{{isImportCDRsFormFieldValid('password') ? 'ng-invalid ng-dirty' : ''}}">
                <label for="password">Password</label>
              </span>

              <span *ngIf="!inputIsPassword" class="p-float-label mt-3">
                <textarea class="{{isImportCDRsFormFieldValid('public_key') ? 'ng-invalid ng-dirty form-control' : 'form-control'}}" id="public_key" formControlName="public_key" [(ngModel)]="inputPublicKey" rows="5" cols="30" pInputTextarea></textarea>
                <label for="public_key">Public Key</label>
              </span>
            </div>
          </div>

          <div class="flex justify-content-end">
            <button type="submit" pButton pRipple label="Save" icon="pi pi-save" class="p-button-text"></button>
          </div>
        </form>
    </div>
</p-dialog>

<p-dialog header="Upload" styleClass="c-modal" [(visible)]="flag_openUploadDialog" (onHide)="flag_openUploadDialog=false" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '70vw'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="grid pt-2">
        <div class="p-fluid lg:col-8 col-12">
            <span class="field p-float-label">
                <p-dropdown [options]="uploadActionOptions" id="uploadMethod" [(ngModel)]="uploadMethod" optionLabel="name" optionValue="value" scrollHeight="150px"></p-dropdown>
                <label>Action</label>
            </span>
        </div>
        <div class="lg:col-4 col-12 text-right">
            <button pButton pRipple label="Choose File" (click)="fileInput.click()" icon="pi pi-upload" class="p-button-text"></button>
            <input #fileInput type="file" (click)="onClickUpload($event)" (change)="changeListener($event)" style="display: none" accept=".csv"/>
        </div>
    </div>

    <strong>*The csv file format must be the same as the following table format.</strong>
    <div class="card mt-5">
        <p-table [value]="demoImportCDRs" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:100px" class="text-center justify-content-center">Name</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Address</th>
                    <th style="min-width:200px" class="text-center justify-content-center">Port</th>
                    <th style="min-width:200px" class="text-center justify-content-center">UserName</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Start Date</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Active</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Duration</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Successful</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Server</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Reason</th>
                    <th style="min-width:100px" class="text-center justify-content-center">Server IP</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-upload>
                <tr>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.name}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.address}}</td>
                    <td style="min-width:200px" class="text-center justify-content-center">{{upload.port}}</td>
                    <td style="min-width:200px" class="text-center justify-content-center">{{upload.username}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.start_date}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.is_active}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.duration}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.successful}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.server}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.reason}}</td>
                    <td style="min-width:100px" class="text-center justify-content-center">{{upload.server_ip}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>