<p-overlayPanel #op>
    <div class="flex justify-content-center align-items-center gap-4 mb-5">
        <div class="p-buttonset">
            <p-inputNumber 
                [min]="0" 
                [max]="999" 
                inputId="startMin"
                [(ngModel)]="startMin" 
                [showButtons]="true" 
                buttonLayout="vertical" 
                spinnerMode="vertical" 
                decrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-text" 
                incrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-text" 
                incrementButtonIcon="pi pi-plus" 
                decrementButtonIcon="pi pi-minus"
                styleClass="w-4rem"
            ></p-inputNumber>
            <p-inputNumber 
                [min]="0" 
                [max]="59" 
                inputId="startSec"
                [(ngModel)]="startSec" 
                [showButtons]="true" 
                buttonLayout="vertical" 
                spinnerMode="vertical" 
                decrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-text" 
                incrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-text" 
                incrementButtonIcon="pi pi-plus" 
                decrementButtonIcon="pi pi-minus"
                styleClass="w-4rem"
            ></p-inputNumber>
        </div>
        <ng-container *ngIf="operator=='between'">
            <p>~</p>
            <div class="p-buttonset">
                <p-inputNumber 
                    [min]="0" 
                    [max]="999" 
                    inputId="endMin"
                    [(ngModel)]="endMin" 
                    [showButtons]="true" 
                    buttonLayout="vertical" 
                    spinnerMode="vertical" 
                    decrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-text" 
                    incrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-text" 
                    incrementButtonIcon="pi pi-plus" 
                    decrementButtonIcon="pi pi-minus"
                    styleClass="w-4rem"
                ></p-inputNumber>
                <p-inputNumber 
                    [min]="0" 
                    [max]="59" 
                    inputId="endSec"
                    [(ngModel)]="endSec" 
                    [showButtons]="true" 
                    buttonLayout="vertical" 
                    spinnerMode="vertical" 
                    decrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-text" 
                    incrementButtonClass="p-button-sm p-button-raised p-button-plain p-button-text" 
                    incrementButtonIcon="pi pi-plus" 
                    decrementButtonIcon="pi pi-minus"
                    styleClass="w-4rem"
                ></p-inputNumber>
            </div>
        </ng-container>
    </div>
    
    <span class="p-buttonset">
        <button pButton pRipple type="button" (click)="operator='>=';" label=">=" class="{{operator!='>=' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='<=';" label="<=" class="{{operator!='<=' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='>';" label=">" class="{{operator!='>' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='<';" label="<" class="{{operator!='<' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='=';" label="=" class="{{operator!='=' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
        <button pButton pRipple type="button" (click)="operator='between';" label="Between" class="{{operator!='between' ? 'p-button-sm p-button-raised p-button-plain p-button-text' : 'p-button-sm p-button-raised p-button-help'}}"></button>
    </span>

    <button pButton pRipple type="button" (click)="onClickApply();" label="Apply" class="p-button-sm p-button-raised p-button-success ml-4"></button>
    <button pButton pRipple type="button" (click)="onClear();" label="Clear" class="p-button-sm p-button-raised p-button-danger ml-2"></button>
</p-overlayPanel>

<span class="p-input-icon-right p-float-label">
    <i class="pi pi-clock"></i>
    <input type="text" id="duration_range" readonly="true" pInputText [(ngModel)]="inputDurationRange" (click)="op.toggle($event)" />
    <label for="duration_range">Duration Range</label>
</span>